/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* --primary: #222831;
    --primary-lite: #393E46;
    --secondary: #00ADB5;
    --secondary-lite: #EEEEEE; */

    /* --primary: #F9F7F7;
    --primary-lite: #DBE2EF;
    --secondary: #3F72AF;
    --secondary-lite: #112D4E; */

    --primary: #EEEBDD;
    --primary-lite: #CE1212;
    --secondary: #810000;
    --secondary-lite: #1B1717;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--primary);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS*/
/*Base*/
body {
    background-color: var(--primary-lite);
}
h1 {
    text-align: center;
    padding: 20px;

    font-weight: 900;
    font-size: 5rem;

    background-color: var(--primary);
    border-bottom: 2px var(--secondary) solid;
    color: var(--secondary);
}
button {
    border: 1px black solid;
}

/*Books*/
#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}
.book {
    height: 15rem;
    width: 25%;
   
    display: flex;
    flex-direction: row;

    margin-top: 50px;

    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--secondary-lite);
}
.book > .book-details {
    flex: 2.5;

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.book > .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    background-color: var(--secondary);
    border-radius: 20px;
}
.book-details > h2 {
    font-weight: 900;
    font-size: 30px;
}
.book-details > h3 {
    font-weight: 600;
    font-size: 20px;
}
.book-details > p {
    font-weight: 400;
    font-size: 20px;
}
.book-details > .buttons {
    display: flex;
    gap: 30px;
}
.book-details > .buttons > button {
    background-color: var(--secondary-lite);
    color: var(--primary);
    height: 100%;
    width: 100%;

    padding: 10px;
    border-radius: 20px;
}
.book-details > .buttons > .read {
    background-color: green;
}
.image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border-left: 2px var(--secondary-lite) solid;
    /* box-shadow: 1px 1px 2px var(--secondary-lite); */
}
.add-book {
    position: fixed;
    height: 60px;
    width: 60px;

    border-radius: 100%;

    bottom: 80px;
    right: 80px;

    color: var(--primary);
    background-color: var(--secondary-lite);

    font-size: 50px;
}

/*From w3schools*/
/*Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: var(--primary);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 30px;

    display: flex;
    flex-direction: column;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
}
form > .submit {
    margin: 0 35%;
    background-color: var(--secondary);
    font-size: 17.5px;
    font-weight: 700;
    border-radius: 10px;
    color: white;

    height: 30px;
}
.section {
    margin: 10px 5px;
}
.section > * {
    margin: 2px 4px;
}
.modal-section {
    display: flex;
    flex-direction: column;
}
.modal-section > input {
    height: 20px;
    border-radius: 10px;
    border: 1px solid var(--secondary-lite);
}
label{
    font-size: 20px;
    font-weight: 900;
    color: var(--secondary);
}
.close-button {
    display: flex;
    justify-content: space-between;
}
.close-button > h1 {
    color: var(--primary-lite);
    border-bottom: 0;
    font-size: 3rem;
}